.fallback {
    display: grid;
    justify-content: center;
    align-content: flex-end;
    height: 10rem;
    font-size: x-large;
}

.searchresultsctrl {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.fallback2 {
    display: grid;
    justify-content: center;
    margin-top: 3rem;
}