.main {
  display: flex;
  gap: 1rem;
  background-color: var(--clr-main1);
  border: 1px solid var(--clr-main3);
  margin: 1rem;
  padding: 0.4rem;

  @media (width < 40rem) {
      flex-flow: column;
  }
}

.poster {
  width: 240px;
  height: 360px;
  object-fit: cover;
}

.singleLeft {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  width: min-content;
}

.singleRight {
  display: flex;
  gap: 0.6rem;
  flex-direction: column;
  padding-right: 1rem;
}

.singleLeftToprow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  height: 2rem;
}

.singleRightToprow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  height: 2rem;
}

.rightgrid {
  display: grid;
  grid-template-columns: max-content max-content;
  gap: 0.2rem 1rem;
}

.rightflex {
  display: flex;
  gap: 2rem;
}