
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, 260px);
    justify-content: center;
    gap: 1rem;
}

.cardSmall {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 4;
    gap: 0.4rem;
    background-color: var(--clr-main1);
    border: 1px solid var(--clr-main3);
    border-radius: 1rem;
    padding: 9px;
}

.poster {
    width: 240px;
    height: 360px;
    object-fit: cover;

    &:hover {
        outline: 3px solid var(--clr-main3);
    }
}

.cardToprow {
    display: grid;
    grid-template-columns: auto 1fr auto;
    justify-items: center;
    align-items: center;
}
